body{
  width: 100%;
}


.imgContainer-consejos {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url("../media/img/headerconsejos.png");
}

.seccion_introduccion {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(221,231,206);
background: linear-gradient(0deg, rgba(221,231,206,1) 21%, rgba(180,186,123,1) 100%);
  border: 1px solid #b4ba7b;
  padding: 20px;
  position:static;
  min-height: 50vh;
}

.linea-izquierda,
.linea-derecha {
  background: #e97023;
  width: 1%;
  min-width: 1%;
  height: 40%;
  display: none;
}

.linea-izquierda {
  top: 0;
  left: 0;
}

.linea-derecha {
  bottom: 0;
  right: 0;
}

.contenedor_intro{
  background: #fff;
  border-radius: 20px;
  border: 2px solid #fff;
  padding: 10px;
  max-width: 1200px;
  min-width: 90%;
  max-height: 95%;
  min-height: 90%;
}

.titulo_parrafo {
  color: #101c3b;
  text-align: left;
  font-size: 32px;
  font-weight: 600;
  line-height: 1.5;
  padding-left: 20px;
  margin-bottom: 20px;
}

.contenido-interno {
  display: flex;
  align-items: center;
  height: 80%;
}

.texto_parrafo {
  color: #101c3b;
  font-size: 20px;
  font-weight: 400;
  max-width: 60%; 
  line-height: 1.5;
  flex: 1;
}

.imagen {
  max-width: 40%; 
  margin-left: 0;
  margin-top: 20px;
}

/* Estilos de la sección de los recuadros con la información útil */

.info-section {
  text-align: center;
  padding: 20px;
}

.section-title {
  font-size: 32px;
  margin-top: 0;
  margin-bottom: 0px;
}

.section-line {
  width: 40%;
  height: 5px;
  margin: 5px auto;
  background-color:  #101C3B;
  border: 0px;
}

/* Estilos de los recuadros */
.boxes-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.info-box {
  width: 400px;
  height: 400px;
  flex-shrink: 0;
  border-radius: 15px;
  background: #FAFAFA;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin: 50px;
  text-align: center;
}

.info-box img {
  max-width: 50%;
  max-height: 25%;
  padding-top: 10px;
}

.info-box h4 {
  font-size: 20px;
  padding: 20px;
}

.info-box p {
  font-size: 16px;

  margin: 20px;
}




/* Media queries para ajustar el diseño en pantallas más pequeñas */
@media (max-width: 768px) {
  .seccion_introduccion {
    flex-direction: column;
    align-items: center;
  }

  .linea-izquierda,
  .linea-derecha {
    display: none;
  }

  .contenido-interno {
    text-align: center;
  }

  .texto_parrafo {
    max-width: 100%; /* Limita el ancho del texto en pantallas pequeñas */
    margin-left: 0;
    margin-top: 20px;
  }

  .imagen {
    max-width: 40%;
    margin-left: 0;
    margin-top: 20px;
  }

  .contactoSection{
    width: 100%;
    }
}

/*Aqui empieza la seccion de formularios*/
.contactoSection{
width: 100%;
}
.titulo-contactenos{
  font-size: 32px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.contactenos{
  display: flex;
  width: 68%;
  height: 500px;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

.info-contactos{
flex: 1;
background-color: #101C3B;
border-radius: 10px;
display: flex;
flex-direction: column;
align-content: space-around;
justify-content: center;
align-items: center;
}

.items{
flex: 1;;
}
.item2,.item3,.item5,.item6{
width: 200px;
display: flex;
align-items: center;
justify-content: space-between;
}
h5{
  font-size: 20px;
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
}
a{
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  font-size: 20;
}
.iconos-formulario{
  width: 30px;
  height: 30px;
}

.contenedor-formulario{
  flex: 1;
}
.formulario{
  gap: 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #FAFAFA;
}

.inputs{
  display: block;
  background-color: #D9D9D9;
  width: 100%;
  border-radius: 20px;
}

.input1,.input2,.input3{
  height: 30px;
  text-align: center;
  font-size: 16px;
  color: #000000;
  border: 1px solid white;
} 

.input1{
  margin-top: 25px;
}

.input1,.input2,.input3{
  width: 80%;
}

.input1,.input2,.input3::placeholder{
  font-size: 16px;
}
.input4{
  padding: 10px;
  font-size: 16px;
  border: 1px solid white;
  width: 75%;
}
.input4::placeholder{
  text-align: center;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

.input5{
  display: block;
  background-color: #101C3B;
  font-family: 'Roboto', sans-serif;
  color: #D9D9D9;
  width: 150px;
  height: 40px;
  margin-left: 50%;
  margin-bottom: 10px;
  font-size: 16px;
  border: 1px solid white;
}

/* Media queries para ajustar el diseño en pantallas más pequeñas del formulario */
@media (max-width: 1039px) {
  .contactoSection{
    width: 100%;
    height: 400px;
    }
    .contactenos {
      flex-direction: column;
      width: 100%;
      height: auto;
      margin: 20px auto;
    }
  
    .info-contactos {
      width: 100%;
    }
    img.iconos-formulario{
      width: 20px;
      height: 20px;
    }
    .formulario {
      gap: 20px;
    }
    
    .item2,.item3,.item5,.item6{
      margin-top: 15px;
      margin-bottom: 15px;
  }

  @media (max-width: 436px) {
    .contactoSection{
      width: 100%;
      height: 300px;
      }
    .contactenos {
      flex-direction: column;
      width: 100%;
      height: auto;
      margin: 20px auto;
    }
  
    .info-contactos {
      width: 100%;
    }
  
    .formulario {
      gap: 20px;
    }

    .item2,.item3,.item5,.item6{
      margin-top: 15px;
      margin-bottom: 15px;
    }

    h5{
      font-size: 15px;
      color: #FFFFFF;
      font-family: 'Roboto', sans-serif;
    }

    img.iconos-formulario{
      width: 15px;
      height: 15px;
    }
  }
}