.imgTazumal{
    width: 100%;
    max-height: 550px;
    object-fit: cover;
}

.containerRutaArq{
    position: relative;
    margin: 0;
    padding: 0;
    border: 0;
}

.imgTazumal:hover {
    filter: grayscale(50%);
}

.verMasButton {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 0;
    cursor: pointer;
}

.infoTazumal {
    position: absolute;
    background: #101C3B;
    color: white;
    padding: 10px;
    top: 170px;
    right: 100px;
    border-radius: 20px;
    border-top: 15px solid #739739; 
    border-right: 10px solid #E97023; 
    border-bottom: 15px solid #EDC9AC;
    border-left: 10px solid #10C4C2; 
    width: 35%;
    max-height: 100%;
}


.imgSunsetPark{
    width: 100%;
    max-height: 550px;
    object-fit: cover;
}

.containerSurfCity{
    position: relative;
    margin: 0;
    padding: 0;
    border: 0;
}

.imgSunsetPark:hover {
    filter: grayscale(50%);
}

.infoSurfCity {
    position: absolute;
    background: #101C3B;
    color: white;
    padding: 10px;
    top: 125px;
    right: 100px;
    border-radius: 20px;
    border-top: 15px solid #739739; 
    border-right: 10px solid #E97023; 
    border-bottom: 15px solid #EDC9AC;
    border-left: 10px solid #10C4C2; 
    width: 35%;
    max-height: 100%;
}

.imgCentroHistorico{
    width: 100%;
    max-height: 550px;
    object-fit: cover;
}

.containerCentroHistorico{
    position: relative;
    margin: 0;
    padding: 0;
    border: 0;
}

.imgCentroHistorico:hover {
    filter: grayscale(50%);
}

.infoCentroHistorico {
    position: absolute;
    background: #101C3B;
    color: white;
    padding: 10px;
    top: 115px;
    right: 100px;
    border-radius: 20px;
    border-top: 15px solid #739739; 
    border-right: 10px solid #E97023; 
    border-bottom: 15px solid #EDC9AC;
    border-left: 10px solid #10C4C2; 
    width: 35%;
    max-height: 100%;
}

h1{
    font-family: sans-serif;
}

p{
    font-family: sans-serif;
}