body {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 120px;
}

#navbar {
    height: 100px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    transition: background-color 0.3s;
}

#logo {
    font-size: 25px;
}

#navbar ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

#navbar ul li {
    margin-right: 20px;
}

.main-image {
    width: 100%;
    height: 700px;
    overflow: hidden;
}

.main-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.circle-images {
    display: flex;
    justify-content: space-around;
    margin: 40px 0;
}

.circle {
    position: relative;
    overflow: hidden;
}

.circle img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    transition: transform 0.3s, filter 0.3s;
}

.circle .overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    padding: 10px;
    display: none;
}

.circle:hover img {
    transform: scale(1.1);
    filter: grayscale(100%);
}

.circle:hover .overlay {
    display: block;
}

#navbar:hover {
    background-color: #739739;
}

footer {
    background-color: #101C3B;
    color: white;
    text-align: center;
}

.row1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.line-left, .line-right {
    width: 500px;
    height: 10px;
    background-color: white;
}

.social-icons {
    margin-top: 5px;
    display: flex;
    align-items: center;
}

.icon {
    width: 30px;
    height: 30px;
    margin: 0 20px;
}

.row2, .row3 {
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    margin: 10px 0;
}